.welcome-wrap {
  display: flex;
  flex-direction: column;
  gap: 12px;

  margin-top: auto;
  padding-bottom: 34px;
}

.title {
  font-size: 22px;
  font-weight: 800;
}

.subtitle {
  font-size: 13px;
  color: #666;
  margin-bottom: 10px;
}

.primary-btn {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  background: #7c3aed;
  color: white;
  border: none;
  font-weight: 700;
}

.secondary-btn {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  background: #e8d8ff;
  color: #4b1ea5;
  border: none;
  font-weight: 700;
}
